
.video-show-banner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all 0.5s;
    visibility: hidden;
}
 .video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.5s;
    width: 70%;
}
.wrapper-iframe {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    transform: translateY(-100%);
    transition: all 0.5s;
    opacity: 0;
}
.wrapper-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.8);
    opacity: 0;
    transition: all 0.5s;
}
.isShowing.video-show-banner {
    display: block;
    visibility: visible;
    opacity: 1;
}
.isShowing .overlay {
    opacity: 1;
}
.isShowing .wrapper-iframe {
    opacity: 1;
    transform: translateY(-50%) !important;
}
@keyframes zoom {
    0% {
        transform: translate(-50%, -50%) scale(0);
   }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
   }
}
@keyframes fadeOut {
    0% {
        transform: translateY(-50%);
   }
    100% {
        transform: translateY(0);
   }
}
