.ant-layout{
  background-color: #fff;
}
.mainContent{
  /* display: flex; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
.tabChoose{
  /* display: flex;
  text-align: center;
  justify-content: center; */
  padding-top: 80px;
  background-color: transparent;
    color: black;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    display: flex;
    height: 80px;
}
.tabsChooseMain{
  align-items: center;
  height: 50;
  margin: 0 auto;
  text-transform: none;
  display: block;
  background-color: transparent;
    transition: none;
}
.tabButton {
  opacity: 1;
  line-height: 24px;
  height: 30px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-weight: 500;
  text-transform: none;
  border: none !important;
  font-size: 25px;

}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #ff7040;
  border-color: none !;
}
.ant-radio-button-wrapper:hover {
  opacity: 1;
  line-height: 24px;
  height: 30px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-weight: 500;
  text-transform: none;
  border: none !important;
  font-size: 25px;
  color: #ff7040;
}

.tabCate{
  background-color: #DAD2B4;
  width: 1200px;
  border-radius: 20px;
  /* margin-top: 100px; */
    /* color: "black";
    box-shadow: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 30; */
}
.cinemaBorder{
  border-top: 3px solid #000;
  border-right: 3px solid #EFEFEF;
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  /* border-radius-top: 15px; */
  border-top-left-radius: 15px ;
  /* margin: 5px; */
}
.movieBorder{
  border-top: 3px solid #000;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
  border-top-right-radius: 15px;
}

.btnCity{
  background: #fff;
  color: #000;
  border: none;
  border-left: none;
  margin-bottom: 5px;
  width: 270px;
}
.btnCity:focus{
  background: #000;
  color: #fff;
  border: none;
  margin-bottom: 5px;
}
.iconCheckCity{
  color: #fff;
}
.iconCheckCity:focus{
  color: #fff;
}
.btnAddress{
background: #EFEFEF;
margin: 5px;
}
.cinemaAdd{
  padding-left: 20px;
}
.movieInfo{
  align-items: center;
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nameMovie{

}
.rateMovie{
  /* padding-bottom: 20px; */
}
.btnMovie{
  /* margin-bottom: 20px; */
  margin-left: 30px;
}
.detailBookingBottom{
  padding-top: 20px;
  text-align: center;
  background-color: #DAD2B4;
  height: 60px;
}
.renderTime{
  /* margin-top: 30px; */
  text-align: center;
  background-color: #EEEBDB;
  /* height: 60px; */
}
.titleHeader{
  background-color: #fff;
}
.spanTime{
  font-weight: 600;
  font-size: 20px;
}
.cardScreen{
  margin-left: 10px;
}
.cardScreen:hover{
  margin-left: 10px;
  background-color: #000
}
.headerHome{
  background-color: transparent;
  margin-top: 100px;
   color: #000;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 30;
}
.buttonHeaderHome{
margin-right: 20px;
/* background: #000 */
}

.textGrBtn{
  font-size: 20px;
}
.mainContent{
  background-color: #fff;
  padding-top: 10px;
}
.headerHome{
  display: flex;
  justify-content: center;
}
.listFilm{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.cardFilm{
  /* padding-left: 10px;
  padding-right: 10px; */
  margin-right: 10px;
  margin-left: 10px;
}
.buttonView{
  display: none;
}
/* .cardFilm:hover img {
} */
.cardFilm:hover .buttonView {
  display: inline-block;
}
.tabsHome{
  padding-top:80px;
}
.appBar{
  background-color: #fff;
    color: black;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.tabBar {
  align-items: center;
  height: 50px;
  margin: 0 auto;
  text-transform: none;
  display: block;
}
.flexContainer{
  display: block;
}
.indicator {
  background-color: transparent;
  transition: none;
}
.tabButton{
  opacity: 1;
  line-height: 24px;
  height: 24px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-weight: 600px;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;


}
.tabButton > span{
  transition: all 0.2s;
  font-size: 20px;
}
.tabButton > span:hover{
  font-size: 24px;
}

.screenTest{
  /* height:350px; */
}
.imgChange{
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.ratingFilm{
  display:flex;
  justify-content:"center";
  /* align-items: center; */
}
.tableOrder{
  background-color: transparent;
    color: black;
    box-shadow: none;
    justify-content: center;
align-items: center;
    margin-bottom: 30;
    max-width: 940;
    margin-left: 30px;margin-right: 30px;
}
.setTrailer{
  text-align:center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
iframe.center {
  display: block;
    visibility: visible;
    opacity: 1;
}